.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 1622px;
    height: 768px;
    background-color: #D9D9D9;
    border-radius: 13px;
    
    position: relative;
    display: flex;
    overflow: visible;
    
    max-width: 95vw;
    max-height: 90vh;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    z-index: 20;
}

.modal-left-col {
    flex: 1;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.modal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-right-col {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}

.modal-pimp-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.pimp-label {
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.mici-label {
    font-size: 28px;
    font-weight: 700;
    color: black;
}


.pimp-username {
    font-size: 48px;
    font-weight: 700;
    color: black;
    line-height: 1.2;
}

.grill-stats-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.like-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.like-icon-in-modal {
    width: 85px;
    height: 65px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.like-icon:active {
    transform: scale(1.2);
}

.like-number {
    font-size: 28px;
    font-weight: 600;
}

.action-btn {
    position: absolute;
    width: 255px;
    height: 53.07px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    
    transition: transform 0.2s ease;
    z-index: 50;
}

.action-btn:hover {
    transform: scale(1.02);
}

.edit-btn {
    top: 187px;
    left: 1325px;
    background-color: #AB8826;
}

.delete-btn {
    top: 259px;
    left: 1325px;
    background-color: #AB2626;
}

.modal-description-box {
    margin-top: 40px;
    font-size: 22px;
    line-height: 1.6;
    white-space: pre-wrap;
    max-width: 80%;
}