.hero {
    width: 100%;
    
    max-width: 1856px; 
    height: 840px;

    margin: 88px auto 50px auto; 
    
    background-color: white;


    background-image: url('../assets/homepageGrouped.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title-main {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    line-height: 100%;
    margin-top: -15px;
}

.pimp-your-text {
    font-family: 'Enriqueta', serif;
    font-weight: 400;
    font-size: 128px;
    color: #333;
    margin-bottom: 125px;
    margin-top: clamp(-220px, -12vw, -80px);
    
}

.grill-text {
    font-family: 'Faster One', cursive;
    font-weight: 400;
    font-size: 128px;
    color: #721D08; 
    text-align: center;
    font-size: clamp(48px, 8vw, 128px);
}