.my-grills-wrapper {
    position: relative;
    z-index: 10; 
    width: 90%; 
    max-width: 1600px;
    min-height: 400px;
    background: #903019;
    border-radius: 25px;
    margin: 50px auto; 
    padding: 40px;
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.30),
        0 10px 15px rgba(0, 0, 0, 0.22);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-grills-header h2 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 40px;
}

.grills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 40px;
    width: 100%;
    justify-items: center;
}

.grill-card {
    width: 360px;
    height: 625.6px;
    
    background-color: #D9D9D9;
    border-radius: 13px;
    border: 2px solid black; 
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.card-top-info {
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 600;
    text-align: left;
}

.grill-image-container {
    width: 356px;
    height: 354px;
    background-color: rgba(0,0,0,0.1);
    margin-bottom: 15px;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grill-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-content {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grill-name {
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}

.grill-stats-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.icon-placeholder {
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-radius: 50%;
}

.like-number {
    font-size: 24px;
    font-weight: 600;
}

.grill-stats-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}


.like-icon {
    /* width: 24px;
    height: 24px; */
    cursor: pointer;
    transition: transform 0.1s ease;
}

.like-icon:active {
    transform: scale(1.1);
}

.grill-description {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    opacity: 1;
}

.no-grills-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    grid-column: span 3;
    text-align: center;
}

@media (max-width: 1200px) {
    .grills-grid {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}