.navbar {
  background-color: #7B1E05;
  height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: white;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-bottom: 30px;

  box-shadow:
  0 5px 10px rgba(0, 0, 0, 0.30),
  0 10px 15px rgba(0, 0, 0, 0.22);
}

.nav-logo {
  height: 70px;
  cursor: pointer; 
  transition: transform 0.2s ease;
}

.nav-logo:hover {
  transform: scale(1.05);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
  padding: 10px 15px; 
  /* border-radius: 12px; */
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.nav-links a.active-link {
  border: 2px solid white;
}