.navbar {
    background-color: #7B1E05;
    height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: white;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 10px; /* pt umbra */
    margin-bottom: 30px;

  box-shadow:
  0 5px 10px rgba(0, 0, 0, 0.30),
  0 10px 15px rgba(0, 0, 0, 0.22);
  }
  
  .nav-logo {
    height: 70px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }