.post-grill-container {
    top: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
}
  
.post-grill-rectangle {
    width: 650px;
    height: 600px; 
    background: #721D08;
    border-radius: 25px;
    max-width: 100%;
    max-height: 90vh;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.30),
        0 10px 15px rgba(0, 0, 0, 0.22);
}

.post-grill-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    padding-bottom: 20px;
    gap: 40px;
    box-sizing: border-box;
    margin-top: 0;
}

.post-grill-content .styled-input {
    font-size: 29px;
}

.upload-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    width: 232px;
    height: 50px;
    
    margin: 0 auto; 
    
    background-color: transparent;
    
    border: 1px solid #ffffff; 
    border-radius: 15px;
    
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.upload-section:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.upload-icon-img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.upload-text {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.post-grill-submit-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;

    min-width: 300px;
    min-height: 75px;
    padding: 15px 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #009C41;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;

    box-shadow: 
        0 3px 10px rgba(0, 0, 0, 0.20), 
        0 5px 15px rgba(0, 0, 0, 0.10);
    transition: all 0.3s ease;
}

.post-grill-submit-btn:hover {
    background-color: #1e7a1e;
    box-shadow: 
        0 8px 18px rgba(0, 0, 0, 0.35), 
        0 12px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}