.profile-top-section {
    position: relative;
    margin-top: 150px; 
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.profile-rectangle {
    width: 600px;
    height: 300px;
    background: #721D08;
    border-radius: 25px;
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.30),
        0 10px 15px rgba(0, 0, 0, 0.22);
    overflow: hidden;
}

.profile-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    gap: 40px;
}

.read-only-input-wrapper {
    pointer-events: none;
}

.post-grill-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;

    width: 400px;
    height: 100px; 
    background-color: #26AB5D;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    
    box-shadow: 
        0 3px 10px rgba(0, 0, 0, 0.20), 
        0 5px 15px rgba(0, 0, 0, 0.10);
    transition: all 0.3s ease;
}

.post-grill-btn:hover {
    background-color: #26AB5D;
    box-shadow: 
        0 8px 18px rgba(0, 0, 0, 0.35), 
        0 12px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

@media (max-width: 1000px) {
    .profile-top-section {
        flex-direction: column-reverse;
        gap: 30px;
    }
}