.scroll-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    
    background-color: #7B1E05;
    color: white;
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
  }
  
  .scroll-btn:hover {
    background-color: #5E1706;
    transform: translateY(-3px);
  }
  
  .scroll-icon {
    width: 54px;
    height: 54px;
    object-fit: contain;
    pointer-events: none;
  }