.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.search-input-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
}

.search-input {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #555;
    padding: 0 60px 0 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #d9d9d9;
    color: black;
    outline: none;
    box-sizing: border-box;
    
}

.search-input::placeholder {
    color: #555;
    opacity: 1;
}

.search-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: #333;
    pointer-events: none;
}


.search-input:focus {
    border-color: #333;

}